canvas {
  border: 1px solid #000;
  cursor: url('../../../assets/svgs/shapes.svg') 12 12, auto;
  touch-action: none;
}
#canva .width{
  width: 400px;
}

@media (min-width: 768px){
  .width {
    width: 850px;
  }
}
